<header class="main-nav-container">
    <a id="logo" href="/"><img src="/assets/Catskill Logo.png" alt="mountians vista" /></a>     
    <div class="right">
        <button class="btn-toggle-menu">
            <svg viewBox="0 0 100 60" width="30" height="30">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </button>    
        </div>
        <nav class="main-nav main-nav-hidden">
    

       
            <a href="/history">History</a>
            <a href="/hiking">Hiking</a>
            <a href="/biking">Biking</a>
         
        </nav>

</header>