<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Biking' %}
    <body class="home">
        {% include 'header' %}
        <main>
            <img class="header" alt="view of two bikes on a forest bridge" src="/assets/bikes.jpg"/> 
            <h1>Bikes in the frontier</h1>
            <body>
                <p1> 
                    The Catskills are home to varied cycling terrain that includes something for all levels – from flat, gravel trails covered by forest canopies and paved, peaceful roadways circling the region's reservoirs for beginners and intermediate-level riders, to switchback roads offering some of the toughest climbs on the East Coast for expert  bikers and hill addicts. 
                </p1>
                <p2>
                    If you’re just getting into cycling or you’re looking to hone your riding skills, the Catskills offer a variety of beginner and intermediate terrain to explore, as well as opportunities for one of the cycling world's newest trends: gravel road biking.
                </p2>
            </body>
        </main>
        {% include 'footer' %}
    </body>
</html>
