<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Hiking' %}
    <body class="home">
        {% include 'header' %}
        <main>
            <img class="header" alt="Person looking at mountian landscape" src="/assets/lukeandsean.jpg"/> 
            <h1>A Walk in the Wild!</h1>
             <p>All publicly available hikes in the Catskills are a part of the National “Catskill Park”. The people of New York State and the Catskill region are very fortunate to have benefited from over a century of public land acquisition by the State government. Our open space resources and outdoor recreation opportunities are greatly enhanced by the thousands of acres which have been protected and are open to the public. The Catskill and Adirondack Parks are nationally unique because they are a checkerboard of public and private land; a grand experiment in how nature, even wilderness, and human society can coexist in a landscape.

             </p>
        </main>
        {% include 'footer' %}
    </body>
</html>
