<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Home - History' %}
    <body class="home">
        {% include 'header' %}
        <main>
            <img class="header" alt="two people looking out at mountians from top of mountian" src="/assets/hotel.jpg"/> 
            <h1>A Tale as Old as Time</h1>
             <p>The Catskill mountains have been a popular vacation spot for hundreds of years. Our story begins during the Age of Fishes better known as the Devonian Period around 400 million years ago. It was during this time that high water levels caused large seas to cover much of Europe and North America. In this age the abundance of sea life included the first amphibians, finned fish, mollusks and sharks. A HUGE inland sea covered the areas that are now the Rondout and Neversink watersheds. In this sea lived all types of prehistoric sea life.
                </p>
                <p>During this period huge rivers pushed sediments and rocks westward away from an eroding ancient mountain range. Pressure and time caused these sediments to become solid, creating sedimentary rock causing different rivers to bring more sediment from other areas, covering these sedimentary rocks. Additionally, tectonic plates pushing against each other lifted the rock to create a plateau. The continuous water erosion on the exposed rocks faces is still creating the Catskill Mountains we see today.</p2>
        </main>
        {% include 'footer' %}
    </body>
</html>
